<nav class="header">
  <div class="logo">
    <a href="#home" (click)="scrollTo('home')">
      <div class="logo-img">
        <span class="blink">&lt;</span>
        <span>&#47;</span>K<span class="blink">&gt;</span>
      </div>
    </a>
  </div>

  <ul
    [class.nav-menu]="true"
    [class.active]="click"
    (click)="handleClick()"
  >
    <li>
      <a href="#about" class="navLink" (click)="scrollTo('about')">About</a>
    </li>
    <li>
      <a href="#skill" class="navLink" (click)="scrollTo('skill')">Skills</a>
    </li>
    <li>
      <a href="#contact" class="navLink" (click)="scrollTo('contact')">Contact</a>
    </li>
  </ul>

  <div class="social-links">
    <a
      href="https://www.linkedin.com/in/kevalkankecha/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <ng-icon name="bootstrapLinkedin" class="social"/>
    </a>
    <a
      href="https://github.com/Keval-Kankrecha"
      target="_blank"
      rel="noopener noreferrer"
    >
      <ng-icon name="simpleGithub" class="social"/>
    </a>
    <a
      href="https://www.instagram.com/kevalkankrecha_2/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <ng-icon name="simpleInstagram" class="social"/>
    </a>
  </div>

  <div class="hamburger" (click)="handleClick()">
    <i
      *ngIf="click"
      class="fas fa-times bars"
      style="font-size: 25px"
    ></i>
    <i
      *ngIf="!click"
      class="fas fa-bars bars"
      style="font-size: 25px; color: #fff"
    ></i>
  </div>
</nav>
