<div class="skill-container" [id]="'skill'">
  <div class="skill-header">My Skills</div>

  <div class="skill-box" *ngFor="let section of skillData">
    <h2 style="text-align: center">{{ section.category }}</h2>

    <div class="skillset">
      <ng-container *ngFor="let skill of section.items">
        <div class="tech-logo-wrapper" [title]="skill.title">
          <abbr [title]="skill.title">
          <ng-icon [name]="skill.icon" class="techLogo" />
          <!-- <h3 style="text-align: center">{{ skill.title }}</h3> -->
        </abbr>
        </div>
      </ng-container>
    </div>
  </div>
</div>
