<div class="home" [id]="'home'">
  <div class="content">
    <div class="wrapper">
      <div class="name">Keval Kankrecha</div>

      <div class="staticTitle">
        Software
        <div class="hrLine"></div>
      </div>

      <ul class="dynamicTitle">
        <li>
          +<span>Engineer</span>
        </li>
      </ul>

      <div>
        <a
          class="btn"
          href="https://www.linkedin.com/in/kevalkankecha/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Hire Me
        </a>
      </div>
    </div>
  </div>

  <div class="mask">
    <img class="bg" src="assets/header-img.png" alt="girl-with-laptop" />
  </div>
</div>
